:root {
    --jackDorsey: linear-gradient(315deg, #be0000, #3e54d3);
    --centreLine: linear-gradient(315deg, #000 70%, #be0000 65%, #be0000 74%);
}

body {
    overflow-x: hidden;
}


/* .service-container {
    background: var(--jackDorsey);
     height: 100vh;
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite;
} */

.service-tile {
    transition: all 1s;
    border-radius: 1rem;
    background: #f4f0ec;
    padding: 0;
    /* height: 30rem; */
}

.service-tile .service-img {
    height: 11.5rem;
    width: 100%;
}

.service-tile p {
    width: 100%;
}


/*--------------------------------------------------------------
# management
--------------------------------------------------------------*/

.management {
    background: #fff;
}

.management .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
}

.management .member .pic {
    overflow: hidden;
    width: 150px;
    height: 100px;
    border-radius: 90%;
}

.management .member .pic img {
    transition: ease-in-out 0.3s;
    width: 150px;
    height: 100px;
    border-radius: 100%;
}

.management .member:hover img {
    transform: scale(1.1);
}

.management .member .member-info {
    padding-left: 30px;
}

.management .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}

.management .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.management .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}

.management .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.management .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.management .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
}

.management .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}

.management .member .social a:hover {
    background: #1977cc;
}

.management .member .social a+a {
    margin-left: 8px;
}

.contact-us {
    border-start-start-radius: 10rem;
    background: #f4f0ec;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}